@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в персональный блог!</h1>
    <p>Здесь вы можете читать интересные статьи по темам, писать свои статьи и оставлять комментарии.</p>
</div>
