@model MyBlog.BLL.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Edit user";
}

<h3>Редактирование профиля пользователя</h3>
<form method="post" asp-controller="User" asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="UserId">
    <div class="mb-3">
        @foreach (var role in Model.AllRoles)
        {
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="SelectedNameRoles" value="@role.Name"
                    @if (Model.SelectedRoles.Contains(role))
                    {
                        <text>checked</text>
                    }
                    @if ((role.Name == "employee") && (Model.SelectedRoles.Contains(role)))
                    {
                        <text> disabled</text>
                    }
                    />
                    @role.Name
                </label>
            </div>
        }
    </div>
    <div class="mb-3">
        <label for="inputName" class="form-label">Имя</label>
        <input asp-for="FirstName" class="form-control" id="inputName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="inputLastName" class="form-label">Фамилия</label>
        <input asp-for="LastName" class="form-control" id="inputLastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="inputMiddleName" class="form-label">Отчетство</label>
        <input asp-for="MiddleName" class="form-control" id="inputMiddleName">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" id="inputEmail">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="inputBirthDate" class="form-label">Дата рождения</label>
        <input asp-for="BirthDate" class="form-control w-auto" id="inputBirthDate">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<br />
<a class="link-primary text-decoration-none" asp-area="" asp-controller="User" asp-action="MyPage">Выйти без сохранения</a>